CompileFlags:
  Add:
    - -std=c++23
    - -I/opt/homebrew/opt/qt/include
    - -I/opt/homebrew/opt/qt/include/QtCore
    - -I/opt/homebrew/opt/qt/include/QtGui
    - -I/opt/homebrew/opt/qt/include/QtWidgets
